<div>
    <h1>Hello and welcome!</h1>
    <div>
        <%= link_to "Regions", region_masters_path, class:"btn btn-md btn-primary" %>
        <%= link_to "District", district_masters_path, class:"btn btn-md btn-success" %>
    </div>
</div>