body{
  font-family: Poppins !important;
}
.new-btn{
    /* left: 0; */
    margin: 5px 0 10px 0;
  }

.my-content{
  margin: 60px;
  // padding: 0 100px;
}

.login-screen{
  background-image: asset-url("bg2.svg");
  background-size: cover;
  object-fit: cover;
  height: 100vh;
}
.login-form-card{
  width: 40%;
  margin: 0 auto;
  padding: 10%;
  background-color: white; -webkit-box-shadow: 0px 11px 40px -15px rgba(188,188,188,0.93);
  -moz-box-shadow: 0px 11px 40px -15px rgba(188,188,188,0.93);
  box-shadow: 0px 11px 40px -15px rgba(188,188,188,0.93); width: 90%;  margin: 0 auto;
}
.login-text{
  padding: 150px 100px 50px 50px;
  font-weight: 400 ;
}
.main-txt{
  font-size: 58px;
  line-height: 60px;
}
.buffer{
  height:150px;
  visibility: hidden;
  /* display: visibility; */
}


